footer {
    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    padding: 50px 20px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin-inline-start: 130px;
    align-items: start;
}