footer {
    background: linear-gradient(135deg, #2a3d4a, #111a20); /* contrast color */;
    padding: 50px 20px 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1100px;
    margin-inline-start: 130px;
    align-items: start;
}

.footer-logo h2 {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-contact h3, 
.footer-links h3 {
    margin-bottom: 15px;
    font-size: 18px;
    color: orange;
}

.footer-links ul {
    list-style: none;
    padding: 0px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}