* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Open Sans', sans-serif;
}

header {

    background-color: #333333;
    position: relative;
    color: white;
    text-align: right;

}
